<!DOCTYPE html>
<html>
<head>
    <title>SC2 - The ultimate application</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="/css/main.css"/>
    <!-- / STYLES -->
</head>
<body>
    <div class="header">
        <h1>SC2 - The ultimate application</h1>
    </div>

    <div class="content" id="app-wrapper">
        <div class="compare-units-content">
            <div class="compare-unit-one">
                <select>
                    <option>Zergling</option>
                    <option>Zelot</option>
                </select>
                <div class="unit-card">
                    <img alt="unit"/>
                    <div class="infos"></div>
                </div>
            </div>
            <div class="compare-unit-two">
                <select>
                    <option>Zergling</option>
                    <option>Zelot</option>
                </select>
                <div class="unit-card">
                    <img alt="unit"/>
                    <div class="infos"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <span class="developers">Developpement by Blandine & Nicolas</span>
        <span class="legal">Starcraft II®  est une marque ou une marque déposée de Blizzard Entertainment, Inc. aux États-Unis et/ou dans d'autres pays</span>
    </div>

    <!-- SCRIPTS -->
    <% if (process.env.env === 'dev') { %>
        <script type="text/javascript" src="/js/main.js"></script>
    <% } else { %>
    <script type="text/javascript" src="/js/main.min.js"></script>
    <% }%>
    <!-- / SCRIPTS -->
</body>
</html>